.contact-container {
  padding: 70px 140px;
  background-color: #f9f9f9;
}
.h1 {
  font-size: 45px;
  border-bottom: 2px solid #8aa29e;
  margin-bottom: 5rem;
  padding-bottom: 1.5rem;
  color: #001943;
}
.form-flex {
  display: flex;
  flex-direction: column;
}
.input-flex {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.inpt-cls {
  min-height: 55px;
  color: #111;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 0;
  justify-content: center;
  align-items: center;
  margin-top: 2px;
  margin-bottom: 0;
  font-weight: 600;
  width: 100%;
  margin-bottom: 4rem;
  padding-left: 1rem;
  outline: none;
}
.input-parent {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input-label {
  font-weight: 600;
  color: #214622;
  text-transform: uppercase;
}
.text-cls {
  min-height: 55px;
  color: #111;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 0;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  font-weight: bold;
  margin-bottom: 4rem;
  height: 12rem;
  font-size: 20px;
  padding-left: 1rem;
  padding-top: 1.5rem;
}
.form-btn {
  color: #fff;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-color: #006b67;
  border-radius: 2px;
  padding: 26px 30px;
  font-size: 13px;
  width: 14%;
  font-weight: 700;
  transition: all 0.2s;
}
@media (max-width: 600px) {
  .h1 {
    font-size: 20px;
    margin-bottom: 3rem;
  }
  .contact-container {
    padding: 70px 30px;
  }
  .input-flex {
    display: unset;
  }
  .input-label {
    font-size: 14px;
  }
  .inpt-cls {
    font-size: 11px;
    margin-bottom: 2rem;
  }
  .text-cls {
    font-size: 11px;
    margin-bottom: 3rem;
  }
  .form-btn {
    font-size: 10px;
    width: 40%;
    height: 60px;
    padding: 10px 0px;
  }
}
